<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>{{title}}</title>
</head>
<div class="basket__container">
    <div class="Cart-Container">
        <div class="Header_carr">
            <h3 class="Heading">Ваша корзина</h3>
            <div class="btn">
                <h5 class="Action">
                    <button class="header__btn">Закрыть</button>
                </h5>
            </div>
        </div>
        <div class="card__main__Container"></div>
        <hr>
        <div class="checkout">
            <div class="total">
                <div class="div">
                    <div class="Subtotal"> Всего</div>
                    <div class="itemm"> 0 товаров</div>
                    <div class="total-amount"> 0₽</div>
                </div>
                <div class="inp__forms">
                    <input type="tel" placeholder="Телефон" required />
                    <input type="text" placeholder="Адрес" required />
                    <input type="email" placeholder="Электронная почта" required />
                    <button type="submit">Оформить заказ</button>
                </div>
            </div>
        </div>
    </div>
</div>

<body>
    <nav>
        <ul class="menu">
            <li class="NavBtn"><a href="/">Главная</a></li>
            <li class="NavBtn"><a href="">Новинки</a></li>
            <li class="NavBtn"><a href="">Манга</a></li>
            <li class="NavBtn"><a href="index2.html">Фигурки</a></li>
        </ul>
        <ul class="icons">
            <li><img class="sc" src="./images/shopping-cart (1).png" alt="shopping-cart"></li>
            <li class="total"></li>
        </ul>
    </nav>
    {{{body}}}
    <footer>
        <strong>©2021 Проект студентов 1Р3.20 ITHUB college Колякина Никиты и Акылверен Тимофей<br>
            Все изображения и информация взяты из сети Internet.</strong>
    </footer>
    <script src="/script.js"></script>
</body>

</html>